<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-list>

      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="username" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-button expand="full" type="submit">Log in</ion-button>
      </ion-item>

    </ion-list>
  </form>
</ion-content>
